<!DOCTYPE html>
<html lang="en" ng-app="teamform-team-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - team page</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
      <link rel="stylesheet" href="css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
	  	  
   </head>
   <body>

    <a href="index.html"
   <button id="btn_admin" type="button" class="btn btn-primary" >
   <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
   Back</button></a>
   <br>

   <div class="text-center">
      <h1>Team Page</h1>
      <h2 id="text_event_name"></h2>
      <h4 id="uid"></h4>
       <div id="team_page_controller" ng-controller="TeamCtrl">

         <div class="row">

            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-6 col-xs-6 text-left panel">
			
			 


               <!-- Controls go here.. -->
                <form class="form-horizontal text-left">
				
                  <div class="form-group">
				  
                     <label for="inputTeamName" class="control-label">Team Name</label>
					 <br>
					 
					 <div class="row">
						 <div class="col-md-8 col-xs-8">
							<input type="text" class="form-control" id="inputTeamName" placeholder="Enter your team name" ng-model="param.teamName">													
						 </div>
						</div>
					<div class="btn-toolbar">
					
						   <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Add</button>
				
						 
						 
							<button type="button" class="btn btn-primary" ng-click="loadFunc();" >Load</button>
						
						
							<button id ="modifyTeamSize" type="button" class="btn btn-primary" ng-click="changeFunc();" >Modify Team Size</button>
						
					</div>
					<br>
					<div id="skills">
					<label class="control-label">Wanted Skills</label>
                        <td>
                          <ul class="list-group">
                            <li class="list-group-item"  ng-repeat="skill_obj in wantedSkills" text-transform="capitalize">
                              {{skill_obj.$id}}
                              <button class="btn btn-secondary btn-xs glyphicon glyphicon-remove" type="button" ng-click="removeSkill(skill_obj)" style="float: right;top;"></button>
                            </li>
                          </ul>
                          <div class="input-group">
                            <input type="text" class="form-control" id="newSkill" placeholder="Add your skill here">

                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button" ng-click="addSkill()">Add</button>
                            </span>
                          </div>
                        </td>
					</div>				 
					 
                  </div>

                
				  <div class="row">
					  <strong>Preferred Team Size: </strong> 					  
					  <span>
						 <span class="badge">
						   {{param.currentTeamSize}}</span>
						  
						 <button><span class="glyphicon glyphicon-plus" ng-click="changeCurrentTeamSize(1);"></span></button>

						  <button><span class="glyphicon glyphicon-minus" ng-click="changeCurrentTeamSize(-1);"></span></button>

						  
					   </span>
				   </div>
				   
				   

                  </form>


				<div class="row">
                  <div class="col-sm-6">
                     <h4>Team members</h4>
                     <!-- TODO: Show the current team member list -->
					 
					 <div ng-repeat="member in param.teamMembers">
						<button type="button" class="btn" ng-click="removeMember(member);">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{member}}
						</button>
						<br>
					 </div>
					 
                  </div>

                  <div class="col-sm-6">
                     <h4>Requests received:</h4>

                     <!--TODO: Show the requests -->
					 
					 <div ng-repeat="r in requests">
						<button type="button" class="btn" ng-click="processRequest(r);">
							<span class="glyphicon glyphicon-backward" aria-hidden="true"></span> {{r}}
						</button>
					 </div>
					 
                  </div>
				</div>
				  
				<!-- Holding Meeting 
 				<div class="row" id="meeting">
 					<div class="col-sm-12">
 						<div class="page-header">
 				  			<h1>Holding your team's first meeting!</h1>
 						</div>
 						<div class="row">
 							<form name="form" class="css-form col-md-4" novalidate>
 								<div class="form-group">
 									<label>Date: <span class="required" ng-show="form.holddate.$error.required">*</span></label>
 									<input type="datetime-local" name="holddate" ng-model="meetinginput.holddate" required>
 								</div>
 
 								<div class="form-group">
 									<label>Description:</label>
 									<textarea class="form-control" name="desc" ng-model="meetinginput.desc" placeholder="Question content..."></textarea>
 									<br><br>
 									<input class="btn btn-primary" type="button" value="Hold" ng-click="addMeeting()" ng-disabled="(!input.desc ||!input.holddate) && {{isTeamLeader}}">
 								</div>
 							
 							</form>
 
 						<div class="css-form col-md-8" id="firstMeetingShow">
 						<h1>Your First Meeting:</h1>
 						<div class="panel panel-success">
 							<div class="panel-heading"><span class="label label-default"><span class="glyphicon glyphicon-blackboard" align="center"></span></span>  {{showDate(meeting_show.holddate)}} {{showTime(meeting_show.holddate)}}
 							</div>
 							<div class="panel-body">{{meeting_show.desc}}</div>			
 							<div class="panel-footer">
 								<button class="btn btn-primary" type="button" ng-click="addjoins()">
 									<span class="glyphicon glyphicon-ok"></span> Join!
 									<span class="badge"> {{meeting_show.joins}}</span> 
 								</button>
 							 </div>
 							 </div>
 						</div>
 
 						</div>
 					</div>
 
 					</div>
 				</div>
 				< End of Meeting Section -->  

                  				  
					
                   
                  


            </div>




            <div class="col-md-4 col-xs-4 text-left">
			
					
			 
					<h3>All teams:</h3>
					<ul ng-repeat="t in team">
						<li>
						
							Team Name: {{t.$id}}  <br>
							Preferred team size: <span class="badge">{{t.size}}</span> <br>
							Current team members: {{t.teamMembers}}
						
						</li>
						
					</ul>			
					<h3>All event members:</h3>

					<ul class="list-group" ng-repeat="m in filteredUsers">
						<li class="list-group-item">
							
							Email: {{m.email}}  <br>
							Name: {{m.name}} <br>
							Skills:
							<div class="btn-group" ng-repeat="skill in m.skills track by $index">
								<button type="button" class="btn btn-primary btn-sm btn-space">{{skill}}</button>
							</div> <div style="line-height:100%;">
    								<br>
							</div> 
							<button type="button" class="btn btn-primary" ng-click="inviteToTeam(m.$id)">Invite</button>
						</li>
						
					</ul>
			</div>


         </div>


       </div>
   </div>


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>

   <script src="js/verify.js"></script> 
   <script src="js/team.js"></script>
    
   </body>
</html>

