<!DOCTYPE html>
<html lang="en" ng-app="teamform-team-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - team page</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
      <link rel="stylesheet" href="css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
	  	  
   </head>
   <body>

    <a href="index.html"
   <button id="btn_admin" type="button" class="btn btn-primary" >
   <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
   Back</button></a>
   <br>


   <div class="text-center">
      <h1>Team Page</h1>
      <h2 id="text_event_name"></h2>
      <h4 id="uid" hidden></h4>
       <div id="team_page_controller" ng-controller="TeamCtrl" ng-init="loadFunc()"> <!--Onload loadTeam to get teamname from index.hteml-->

         <div class="row">

            
			<div class="col-md-2 col-xs-2"></div>

            <div class="col-md-6 col-xs-6 text-left panel">
			
			 


               <!-- Controls go here.. -->
                <form class="form-horizontal text-left">
				
                  <div class="form-group">
				  
                     <label for="inputTeamName" class="control-label">Team Name</label>
					 <br>
					 
					 <div class="row">
						 <div class="col-md-8 col-xs-8">
							<input type="text" class="form-control" id="inputTeamName" placeholder="Enter your team name" ng-model="param.teamName">													
						 </div>
						</div>
					<div class="btn-toolbar">
					
						   <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Add</button>
				
						 
						 
							<button type="button" class="btn btn-primary" ng-click="loadFunc();" >Load</button>
						
						
							<button id ="modifyTeamSize" type="button" class="btn btn-primary" ng-click="changeFunc();" >Modify Team Size</button>
						
					</div>
					<br>
					<div id="skills">
					<label class="control-label">Wanted Skills</label>
                        <td>
                          <ul class="list-group">
                            <li class="list-group-item"  ng-repeat="skill_obj in wantedSkills" text-transform="capitalize">
                              {{skill_obj.$id}}
                              <button class="btn btn-secondary btn-xs glyphicon glyphicon-remove" type="button" ng-click="removeSkill(skill_obj)" style="float: right;top;"></button>
                            </li>
                          </ul>
                          <div class="input-group">
                            <input type="text" class="form-control" id="newSkill" placeholder="Add your skill here">

                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button" ng-click="addSkill()">Add</button>
                            </span>
                          </div>
                        </td>
					</div>				 
					 
                  </div>

                
				  <div class="row">
					  <strong>Preferred Team Size: </strong> 					  
					  <span>
						 <span class="badge">
						   {{param.currentTeamSize}}</span>
						  
						 <button><span class="glyphicon glyphicon-plus" ng-click="changeCurrentTeamSize(1);"></span></button>

						  <button><span class="glyphicon glyphicon-minus" ng-click="changeCurrentTeamSize(-1);"></span></button>

						  
					   </span>
				   </div>
				   <br>
				   

                  </form>


				<div class="row">
                  <div class="col-sm-6">
                 	 <div class="panel-group">
			         	<div class="panel panel-primary">
			            <div class="panel-heading">
                    	 <h4 class="panel-title">Team members</h4>
                    	 </div>
                     <!-- TODO: Show the current team member list -->
					 <ul class="list-group" ng-repeat="member in param.teamMembers">
					 	<li class="list-group-item list-group-item-info hideOverflow">
	                 		<button type="button" class="btn btn-xs btn-warning" ng-click="removeMember(member);">
	                    		<span class="glyphicon glyphicon-trash"></span>
	                  		</button> {{member}}</li>
					 </ul>
					 <!--div ng-repeat="member in param.teamMembers">
						<button type="button" class="btn" ng-click="removeMember(member);">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{member}}
						</button>
						<br>
					 </div-->
					 </div>
					 </div>
                  </div>

                  <div class="col-sm-6">
                  	<div class="panel-group">
			        	<div class="panel panel-warning">
			            <div class="panel-heading">
                    		<h4 class="panel-title">Requests received:</h4>
                    	</div>
                     <!--TODO: Show the requests -->
						<ul class="list-group" ng-repeat="r in requests">
							<li class="list-group-item list-group-item-info hideOverflow">
								<button type="button" class="btn btn-xs btn-success" ng-click="processRequest(r);">
									<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
								</button> {{r}}</li>
						</ul>
					 <!--div ng-repeat="r in requests">
						<button type="button" class="btn" ng-click="processRequest(r);">
							<span class="glyphicon glyphicon-backward" aria-hidden="true"></span> {{r}}
						</button>
					 </div-->
					 	</div>
                  </div>
				</div>

 				</div>
 								  
            </div>
            </div>
			
				


 			<div class="row-fluid"> 
            	<div class="col-sm-4">
			
					
			 
					<!--<h3>All teams:</h3>
					<ul ng-repeat="t in team">
						<li>
						
							Team Name: {{t.$id}}  <br>
							Preferred team size: <span class="badge">{{t.size}}</span> <br>
							Current team members: {{t.teamMembers}}
						
						</li>
						
					</ul>-->			
					<div class="panel-group">
  					<div class="panel panel-warning">
    				<div class="panel-heading">
						<h3 class="panel-title"><a data-toggle="collapse" href="#collapse1">All teams:</a></h3>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
					<ul class="list-group" ng-repeat="t in team">
						<li class="list-group-item">Team Name: {{t.$id}}</li>
			            <li class="list-group-item">Preferred team size: {{t.size}}</li>
			            <li class="list-group-item">Current team members:
			              <ul class="list-group">
			                <li class="list-group-item list-group-item-info hideOverflow" ng-repeat="member in t.teamMembers">{{member}}
			                <!--span class="pull-right">
			                  <button class="btn btn-xs btn-warning">
			                    <span class="glyphicon glyphicon-trash"></span>
			                  </button>
			                </span-->
			                </li>
			              </ul>
			            </li>
			            <li class="list-group-item">Wanted Skills:
			              <ul class="list-group">
			                <li class="list-group-item list-group-item-info hideOverflow" ng-repeat="skill in t.wantedSkills track by $index">{{skill}}</li>
			              </ul>
			            </li>
    					<li class="list-group-item" id="requestMerge"><button type="button" class="btn btn-warning" ng-click="requestToMerge(t.$id,t.size,t.teamMembers)">Request to Merge To</button></li>
    				</ul>
					</div>
					</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel-group">
	  					<div class="panel panel-primary">
	    				<div class="panel-heading">
							<h3 class="panel-title"><a data-toggle="collapse" href="#collapse2">All event members:</a></h3>
						</div>
					<div id="collapse2" class="panel-collapse collapse">
					<ul class="list-group" ng-repeat="m in eventUsers">
							
						<li class="list-group-item">Email: {{m.email}} </li>
						<li class="list-group-item">Name: {{m.name}} </li>
						<li class="list-group-item">Skills:
							<ul class="list-group">
								<li class="list-group-item list-group-item-info hideOverflow" ng-repeat="skill in m.skills track by $index">{{skill}}</li>
							</ul>
						</li>
						<li class="list-group-item"><button type="button" class="btn btn-primary" ng-click="inviteToTeam(m.$id)" ng-disabled="$scope.param.teamMembers.indexOf(m.$id) >= 0">Invite</button></li>
						</li>
					</ul>
					</div>
					</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel-group">
	  					<div class="panel panel-success">
	    				<div class="panel-heading">
							<h3 class="panel-title"><a data-toggle="collapse" href="#collapse3">Suggested members:</a></h3>
						</div>
					<div id="collapse3" class="panel-collapse collapse">
					<ul class="list-group" ng-repeat="m in filteredUsers">
						<li class="list-group-item">Email: {{m.email}} </li>
						<li class="list-group-item">Name: {{m.name}} </li>
						<li class="list-group-item">Skills:
						<ul class="list-group">
							<li class="list-group-item list-group-item-info hideOverflow" ng-repeat="skill in m.skills track by $index">{{skill}}</li>
						</ul>
						</li>
						<li class="list-group-item"><button type="button" class="btn btn-success" ng-click="inviteToTeam(m.$id)">Invite</button></li>
						</li>
					</ul>
					</div>
					</div>
					</div>
				</div>
				
            				<!-- Holding Meeting -->
 				<div class="row-fluid" id="meeting">
 					<div class="col-sm-6">
 						<div class="panel-group">
	  					<div class="panel panel-info">
	    				<div class="panel-heading">
 				  			<h3 class="panel-title"><a data-toggle="collapse" href="#collapse4">Hold/Join meetings</a></h3>
 						</div>
						<div id="collapse4" class="panel-collapse collapse">
 						<div class="row">
 							<form name="form" class="css-form col-md-12" novalidate>
 								<div class="form-group"><br>
 									<label>Date: <span class="required" ng-show="form.holddate.$error.required">*</span></label>
 									<input type="datetime-local" name="holddate" ng-model="meetinginput.holddate" required>
 									<label>Description:</label>
 									<textarea class="form-control" name="desc" ng-model="meetinginput.desc" placeholder="Purpose(s) for meeting..." required></textarea>
 									<br><br>
 									<input class="btn btn-info" type="button" value="Hold" ng-click="addMeeting()" ng-disabled="!meetinginput.desc ||!meetinginput.holddate">
 								</div>
 							
 							</form>
 
 						<div class="css-form col-md-12" >
 						<h5>Your Meeting(s):</h5>
	 						<div class="panel panel-info" ng-repeat="meeting in meetings | filter:meeting_teamName:true">
	 							<div class="panel-heading"><span class="label label-default"><span class="glyphicon glyphicon-blackboard" align="center"></span></span>  {{showDate(meeting.holddate)}} {{showTime(meeting.holddate)}}
	 							</div>
	 							<div class="panel-body">{{meeting.desc}}</div>			
	 							<div class="panel-footer">
	 								<button class="btn btn-info" type="button" ng-click="meeting.joins = meeting.joins+1; meetings.$save(meeting);">
	 									<span class="glyphicon glyphicon-ok"></span> Join!
	 									<span class="badge"> {{meeting.joins}}</span> 
	 								</button>
	 							 </div>
 							 </div>
 						</div>
 
 						</div>
 					</div>
					</div>
 					</div>
				</div>
 					<!-- End of Meeting Section -->  

				<div class="col-sm-6">
					<div class="panel-group">
	  					<div class="panel panel-danger">
	    				<div class="panel-heading">
							<h3 class="panel-title"><a data-toggle="collapse" href="#collapse5">Team merge invites:</a></h3>
						</div>
				<div id="collapse5" class="panel-collapse collapse">
		            <div ng-repeat="t in invitedTeams">
		                {{t.$id}}
		                <button type="button" class="btn btn-danger" ng-click="acceptMerge(t.$id)">Accept Invite</button>
		            </div>
				</div>
	            </div>
				</div>
				</div>
				
				<!--div class="col-sm-4">
					<div class="panel-group">
	  					<div class="panel panel-success">
	    				<div class="panel-heading">
							<h3 class="panel-title"><a data-toggle="collapse" href="#collapse3">Suggested members:</a></h3>
						</div>
					<div id="collapse3" class="panel-collapse collapse">
					<ul class="list-group" ng-repeat="m in filteredUsers">
						<li class="list-group-item">Email: {{m.email}} </li>
						<li class="list-group-item">Name: {{m.name}} </li>
						<li class="list-group-item">Skills:
						<ul class="list-group">
							<li class="list-group-item list-group-item-info hideOverflow" ng-repeat="skill in m.skills track by $index">{{skill}}</li>
						</ul>
						</li>
						<li class="list-group-item"><button type="button" class="btn btn-success" ng-click="inviteToTeam(m.$id)">Invite</button></li>
						</li>
					</ul>
					</div>
					</div>
					</div>
				</div-->
				
         </div>

       </div>
   </div>


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>

   <script src="js/verify.js"></script> 
   <script src="js/team.js"></script>
    
   </body>
</html>

